@charset "utf-8";
@import url(http://fonts.googleapis.com/earlyaccess/notosansjapanese.css);
body {
	padding: 1em;
	background: url(../images/gs.jpg);
	background-size: cover;
	background-attachment: fixed;
	font-family: 'Noto Sans Japanese', sans-serif;
	font-size: 100%;
}

.form-wrapper > label {
	display: block;
	padding: .5em 0;
}

#myChart {
	max-width: 400px;
	margin: 0 auto;
}

#wrapper {
	width: 640px;
	margin: 0 auto;
	padding: 48px 48px 64px;
	background: rgba(248, 248, 248, 0.80)
}

label {
	margin: 32px 0
}

input[type= checkbox] {
	display: none;
}

span {
	position: relative;
	display: block;
	padding: 0 0 24px 48px;
	border-bottom: 1px solid #ccc;
	cursor: pointer
}

span:before {
	content: "";
	position: absolute;
	left: 0;
	display: block;
	width: 32px;
	height: 32px;
	background: url(../images/checkbox.png);
}

input[type= checkbox]:checked + span {
	color: #445;
}

span:hover::before {
	color: #445;
	background-position: -38px 0;
}

input[type= checkbox]:checked + span:before {
	color: #445;
	background-position: -76px 0;
}
