@charset "utf-8";

@font-face {
	font-family: ikamodoki;
	src: url(../res/lib/ikamodoki/ikamodoki1_0.ttf);
}
body, main, h1, .mdl-layout__title, .mdl-list__item, .mdl-layout-title {
	font-family: ikamodoki;
}
.how2use {
	padding: 10px;
}

.hidden {
	display: none!important;
}
.weapon-list{
	column-count: 3;
}
.row_weapon {

}
.row_weapon  .img {
	width: 52px;
	height: 40px;
	background-size: 52px, 40px;
	background-repeat: no-repeat;
}
.row_weapon  .name {
	font-family: "Helvetica Neue", Helvetica, Arial, Roboto, "Droid Sans", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic ProN", sans-serif;
}