@charset 'utf-8';

.main {
	position: relative;
	width: 100%;
	height: 100%;
}

.canvasWrapper {
	position: absolute;
	top: 10px;
	left: 0; width : 100%;
	height: calc(100% - 10px);
	width: 100%; /* ヘッダ分小さく */
}

#mainCanvas {
	position: absolute;
	top: 0;
	left: 0;
}

#stampImg {
	position: absolute;
	top: 0;
	left: 0;
}

.canvasWrapper>.header {
	display: none;
}

.canvasWrapper>.header.addedStamp {
	display: block;
}

.overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding: 2px;
	background-color: rgba(0, 0, 0, 0.3);
	display: none;
}

.overlay>* {
	border: 1px solid #cccc;
	box-shadow: 2px;
}

.selectStamp .header {
	position: absolute;
	height: 20px;
}

.stamplList {
	height: 100%;
}