(function() {
	var controller = {
		__name: 'app.maze.PageController',
		__meta: {
			CUIEditorController: {
				rootElement: '.CUIEditor'
			},
			GUIEditorController: {
				rootElement: '.GUIEditor'
			}
		}
	};
	h5.core.expose(controller);
})();

(function() {
	var controller = {
		__name: 'app.maze.CUIEditorController'
	};
	h5.core.expose(controller);
})();
(function() {
	var controller = {
		__name: 'app.maze.GUIEditorController'
	};
	h5.core.expose(controller);
})();
