@charset "UTF-8";
.mono {
	font-family: Consolas, 'Courier New', Courier, Monaco, monospace;
}
.mazeView .square {
	font-size: 36px;
	border: 1px dashed #ccc;
	cursor: pointer;
	display: inline-block;
	text-align: center;
	line-height: 30px;
	width: 30px;
	vertical-align: middle;
}
